{% extends "base.html" %}

{% block cssimports %}
{% endblock %}

{% block content %}
<table id="task-order-list" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date Requested</th>
            <th>Institution</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block jsimports %}
<script type="text/javascript">
    $(document).ready(function(){

        $('#task-order-list').DataTable({
            'ajax': {
                'url': $SCRIPT_ROOT + '/api/order',
                'dataSrc': ''
            },
            'columns': [
                {'data': 'order_id'},
                {'data': 'created_date'},
                {'data': 'institution'},
                {'data': 'email'},
                {'data': 'firstname'},
                {'data': 'lastname'},
                {
                    'data': 'order_id',
                    'fnCreatedCell': function(nTd, sData, oData, iRow, iCol) {
                        var url = $SCRIPT_ROOT + '/orders/' + oData.order_id;
                        console.log(url);
                        $(nTd).html("<a href='" + url + "'>View</a>");
                    }
                }
            ]
        });

    });
</script>
{% endblock %}